$primary: #FFF;
$text-color: #30242A;
$background: #F5F5FF; 
$contrast: #4756df;
$border-color: #E5E5E5;
$link: #FFBE21; // #0041de


//Settings
$icon-bckg: #5D84E6;
$highlight: #F6A2C5;

// Messenger
$online: #26AB53; //#d954ac
$offline: #FF7235; // #008dca
$sended-msg-bckg: #FFF;
$time: #949494;
$chat-start-text: #30242A;

// Button
$btn-text: #FFF;
$btn-background: #30242A;

// Auth form
$auth-title: #FFF;
$auth-background: #5D84E6;


$err-msg: #FFB7D5