$fonts: "Poppins", "Montserrat", sans-serif;

// Font size
$tiny: 0.625rem;
$smaller: 0.875rem;
$small: 1rem;
$normal: 1.125rem;
$big: 1.5rem;
$bigger: 2.25rem;
$large: 2.625rem;
$very-large: 4.5rem;
$giant: 9rem;

// Line height
$normal-lh: 1.5rem;
$larger-lh: 150%;

// Letter spacing
$wider-ls: 0.01em;

//Font weight
$regular: 400;
$semi-bold: 600;
$bold: 700;


