@use "../blocks/_page";
@use "../blocks/_input";
@use "../blocks/_popup";
@import "../base/_colors";
@import "../base/_typography";
@import "../utils/functions";

.messenger {
    background-color: $background;
    display: flex;
    font-size: $smaller;
    padding: 35px;
    overflow: hidden;
}

.sidebar {
    background-color: $primary;
    border: 1px solid $border-color;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(93, 132, 230, 0.08);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    min-width: 415px;

    &__head {
        display: flex;
        border-bottom: 1px solid $border-color;
    }

    &__profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 35px 25px 35px 35px;
    }

    &__user-info {
        flex-grow: 1;
        margin-top: 55px;
    }

    &__user-nickname {
        color: $contrast;
        font-size: $big;
        font-weight: $bold;
        margin: 0;
        line-height: 36px;
    }

    &__user-name {
        margin: 0;
    }

    &__menu {
        list-style: none;
        margin: 20px 20px 0 0;
    }

    &__menu-item {
        margin-bottom: 20px;
    }

    &__menu-btn {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: no-repeat center;
        outline: transparent;
        border: transparent;
        cursor: pointer;
    }

    &__menu-link {
        width: 35px;
        height: 35px;
        margin-left: 6px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    &__settings-btn {
        transition: background-image 0.1s ease-in-out;
        background-image: url(getIconPath("settings"));
    }

    &__theme-btn {
        transition: background-image 0.1s ease-in-out;
        background-image: url(getIconPath("moon"));
    }

    &__log-out-btn {
        transition: background-image 0.1s ease-in-out;
        background-image: url(getIconPath("log-out"));
    }

    &__chats-nav {
        display: flex;
        flex-direction: column;
        margin: 35px 35px 0;
    }

    &__container {
        display: flex;
    }

    &__add-chat-btn {
        margin: 3px 0 0 15px;
        background: url(getIconPath("plus")) transparent no-repeat center;
        border: 2px solid $border-color;
        border-radius: 50%;
        outline: transparent;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: background 0.1s ease-in-out, border-color 0.1s ease-in-out;
    }

    &__add-chat-btn:hover {
        border-color: $contrast;
        background: url(getIconPath("plus-inverted")) $contrast no-repeat center;
        box-shadow: 1px 1px 2px 1px rgb(93, 132, 230, 10%);
    }

    &__search-form {
        width: 100%;
        display: flex;
        flex-grow: 1;
    }

    &__chats-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        padding-right: 15px;
        overflow-y: auto;
        height: 500px;
    }

    &__chat-item {
        cursor: pointer;
        border-radius: 15px;
        border: 1px solid $border-color;
        box-shadow: 1px 1px 2px rgba(93, 132, 230, 0.08);
        margin-bottom: 20px;
        transition: box-shadow 0.1s ease-in-out;
    }

    &__chat-item--active {
        box-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
    }

    &__chat-item:hover {
        box-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
    }

    &__chat-item-panel {
        display: flex;
        box-shadow: none;
        padding: 15px 30px;
        flex-wrap: wrap;
    }

    &__chat-time {
        display: inline-block;
        margin-top: 7px;
        font-size: $tiny;
    }

    &__last-msg {
        margin: 0;
        font-size: $tiny;
    }
}

.chat {
    display: flex;
    width: 100%;
    box-shadow: none;
    padding: 15px 30px;

    &__pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $border-color;
        grid-area: 1 / 1 / 3 / 2;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 0 10px 10px;

    }

    &__name {
        font-size: $smaller;
        font-weight: $bold;
        margin: 5px 0 0;
    }

    &__status {
        font-size: $tiny;
    }

    &__status--online {
        color: $online;
    }

    &__status--offline {
        color: $offline;
    }
}

.main {
    display: flex;
    flex-grow: 1;

    &__no-selected-chats {
        font-size: $big;
        color: $contrast;
    }

    &__messages {
        background-color: $primary;
        border: 1px solid $border-color;
        box-sizing: border-box;
        box-shadow: 0 1px 2px rgba(93, 132, 230, 0.08);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-right: 35px;
    }

    &__messages--err {
        justify-content: center;
        align-items: center;
    }

    &__head {
        display: flex;
        border-bottom: 1px solid $border-color;
        padding: 25px 40px 15px;
    }

    &__menu {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: no-repeat center;
        outline: transparent;
        border: transparent;
        cursor: pointer;
        margin-top: 10px;
    }

    &__menu--active {
        background-image: url(getIconPath("left-arrow"));
    }
    
    &__menu--not-active {
        background-image: url(getIconPath("right-arrow"));
    }

    &__chat-screen {
        display: flex;
        flex-direction: column;
        padding: 40px;
        flex-grow: 1;
        border-bottom: 1px solid $border-color;
        overflow-y: auto;
        height: 500px;
    }

    &__chat-start {
        background: rgba(93, 132, 230, 0.2);
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 50px;
        font-size: $tiny;
        color: $chat-start-text;
        font-weight: $bold;
        padding: 1px 17px;
        margin: 20px 0;
        align-self: center;
    }

    &__msg-block {
        display: flex;
        position: relative;
        margin-bottom: 45px;
        flex-direction: column;
        align-items: flex-start;
    }

    &__sender-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }

    &__msg {
        min-width: 50%;
        font-size: $smaller;
        margin: 0;
        border: 1px solid $border-color;
        box-shadow: 1px 1px 2px 1px rgba(93, 132, 230, 0.1);
        border-radius: 0 15px 15px;
        padding: 20px;
        color: $sended-msg-bckg;
        background-color: $contrast;
    }

    &__msg-time {
        font-size: $tiny;
        color: $time;
        margin-left: 10px;
    }

    &__sender {
        font-size: $smaller;
        margin-left: 10px;
        font-weight: bold;

    }

    &__send-msg {
        padding: 15px 40px;
        display: flex;
        position: relative;
    }

    &__msg-form {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__send-file {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: no-repeat center;
        outline: transparent;
        border: 2px solid $border-color;
        box-sizing: border-box;
        cursor: pointer;
        background-image: url(getIconPath("paperclip"));
        margin-right: 17px;
    }

    &__msg-input {
        resize: none;
        margin-top: 15px;
        flex-grow: 1;
        border: 0;
        outline: transparent;
    }

    &__add-smile {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: no-repeat center;
        outline: transparent;
        box-sizing: border-box;
        cursor: pointer;
        background-image: url(getIconPath("smile"));
        border: transparent;
    }

    &__add-smile::before {
        content: "";
        border: 1px solid $border-color;
        height: 42px;
        width: 0;
        position: absolute;
        cursor: auto;
        top: 17px;
        right: 125px;
    }

    &__send-msg-btn {
        background: url(getIconPath("send")) $contrast no-repeat center;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        outline: transparent;
        box-sizing: border-box;
        cursor: pointer;
        border: transparent;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in;
        margin-left: 80px;
    }

    &__send-msg-btn:hover {
        transform: rotate(0deg);
    }

    &__chat-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary;
        border: 1px solid $border-color;
        box-sizing: border-box;
        box-shadow: 0 1px 2px rgba(93, 132, 230, 0.08);
        border-radius: 15px;
        min-width: 415px;
        padding: 35px;
    }

    &__chat-panel--hidden {
        display: none;
    }

    &__chat-panel-title {
        font-size: $bigger;
        color: $contrast;
    }

    &__chat-panel-subtitle {
        font-size: $big;
        color: $contrast;
        margin-bottom: 0;
    }

    &__chat-users-list {
        font-size: $normal;
        align-self: flex-start;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    &__search-user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__add-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    &__add-user--hidden {
        display: none;
    }

    &__user-search-res {
        font-size: $normal;
        margin-bottom: 5px;
    }

    &__user-in-chat {
        font-size: $normal;
        margin-bottom: 5px;
    }

    &__add-btn {
        margin-top: 10px;
    }

    &__delete-user-btn {
        margin-top: 10px;
    }
}
