@use "./_page";
@use "./_input";
@use "./_btn";
@import "../base/_typography";
@import "../base/_colors";

.auth {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, auto);
    background: $background no-repeat right url("../assets/img/wave_bg.svg");
    
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        grid-area: 1 / 2 / 3 / 3;
        padding: 40px 30px;
        background: $auth-background;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        min-width: 415px;
        position: relative;
    }
    
    &__form-title {
        color: $auth-title;
        font-weight: $semi-bold;
        font-size: $large;
        margin: 0 0 45px;
    }
    
    &__sign-error {
        position: absolute;
        color: $err-msg;
        font-size: $small;
        top: -35px;
        z-index: 1;
        transition: top 0.1s ease-out;
    }

    &__sign-error--hidden {
        top: 0;
        z-index: -1;
    }

    &__img {
        max-width: 760px;
        align-self: center;
        grid-area: 2 / 1 / 3 / 2;
    }
    
    &__link {
        text-decoration: none;
        color: $link;
        margin-left: 3px;
        cursor: pointer;
    }
    
    &__text {
        font-size: $smaller;
        margin: 20px 0 0;
        font-weight: $semi-bold;
    }
    
    &__title {
        position: relative;
        font-size: $very-large;
        margin: 145px 0 0 127px;
        grid-area: 1 / 1 / 2 / 2;
    }
    
    &__title::before {
        top: -45px;
        left: -27px;
        bottom: 0;
        right: 0;
        position: absolute;
        content: "";
        background: no-repeat ("../assets/img/dotted-decor.svg");
    }
    
    &__title::after {
        top: 45px;
        left: 195px;
        bottom: 0;
        right: 0;
        position: absolute;
        content: "";
        background: no-repeat url("../assets/img/stroke.svg");
        width: 0;
        animation: draw 1.3s ease-in;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
    }
}

@keyframes draw {
    100% {
        width: 100%;
    }
}
