@use "../base/_font-face";
@import "../base/_colors";
@import "../base/_typography";

html {
    font-family: $fonts;
}

.page {
    background-color: $background;
    color: $text-color;
    font-size: $normal;
    line-height: $big;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 auto;
    min-height: 100vh;
}